@import url('vars.css');

@font-face {
  font-family: 'SF Pro Text';
  font-weight: 600;
  src: url('https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscotext-semibold-webfont.woff');
}

* {
  box-sizing: border-box;
  font-family: 'Inter', 'sans-serif';
  font-weight: 400;
}

body {
  margin: 0;
}

.table {
  width: 100%;
  min-width: 600px;
  max-width: 1000px;
  margin: auto;
  overflow-x: auto;
  border-spacing: 0;
  font-size: 16px;
  line-height: 1.5;
  color: var(--primary-text-color);
}

.table thead {
  background-color: var(--head-background-color);
  text-align: left;
}

.table th {
  padding: 22px 0;
  font-family: 'SF Pro Text', 'sans-serif';
}

.table td {
  padding: 32px 0;
  border-bottom: 1px solid var(--border-color);
}

.table tr:nth-child(4n) td {
  border-bottom-width: 3px;
}

.table td:first-child,
.table th:first-child {
  padding-left: 5%;
}

.table td:last-child,
.table th:last-child {
  padding-right: 5%;
}

.style-name {
  width: 40%;
}

.state {
  width: 20%;
}

.sample {
  width: 30%;
}

.primary-button, button {
  font-size: 16px;
  color: white;
  background-color: var(--primary-500);
  padding: 12px 40px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.12s linear;
}

button.disabled,
button:disabled {
  cursor: default;
}

.primary-button.hover:not(.disabled, [disabled]),
.primary-button:hover:not(.disabled, [disabled]),
.primary-button.focus:not(.disabled),
.primary-button:focus:not(.disabled) {
  background-color: var(--primary-400);
  box-shadow: var(--bottom-shadow-2);
}

.primary-button.disabled,
.primary-button:disabled {
  color: var(--primary-300);
  background-color: rgba(var(--primary-color), 8%);
}

.ghost-button {
  color: var(--primary-500);
  background-color: white;
  border: 1px solid var(--primary-500);
}

.ghost-button.hover:not(.disabled, [disabled]),
.ghost-button:hover:not(.disabled, [disabled]),
.ghost-button.focus:not(.disabled),
.ghost-button:focus:not(.disabled) {
  background-color: var(--primary-100);
  box-shadow: var(--bottom-shadow-2);
}

.ghost-button.disabled,
.ghost-button:disabled {
  color: var(--primary-200);
  border: 1px solid var(--primary-200);
}

.icon-left-arrow {
  margin-right: 11px;
}

.icon-right-arrow {
  margin-left: 11px;
}

[class^="icon-"], [class*=" icon-"] {
  font-size: 14px;
}
