@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icons/icomoon.eot?2938wb');
  src:  url('../fonts/icons/icomoon.eot?2938wb#iefix') format('embedded-opentype'),
    url('../fonts/icons/icomoon.ttf?2938wb') format('truetype'),
    url('../fonts/icons/icomoon.woff?2938wb') format('woff'),
    url('../fonts/icons/icomoon.svg?2938wb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-calendar:before {
  content: "\e900";
}
.icon-check-mark:before {
  content: "\e901";
}
.icon-expand-arrow:before {
  content: "\e902";
}
.icon-hide:before {
  content: "\e903";
}
.icon-show:before {
  content: "\e904";
}
.icon-left-arrow:before {
  content: "\e905";
}
.icon-right-arrow:before {
  content: "\e906";
}
.icon-user:before {
  content: "\e907";
}
